*
{
    box-sizing: border-box
}

#container
{
  position: relative;
  display: inline-block;
}

#smallcontainer
{
    position: absolute; 
    display: flex; 
    width: 100%;
    align-items: center;
    padding: 20px
}

#playerhealth
{
    position:relative; 
       height: 30px; 
       width: 100%; 
       display: flex;   
       justify-content: flex-end
}

#php
{
    background-color: yellow; 
    height: 30px;
     width: 100%

}

#plhpbar
{
    position: absolute;
         background:blue ;
         top: 0;
         right: 0;
         bottom: 0; 
         width:100%
}


#timer
{
    background-color: royalblue;
     height: 100px;
      width: 100px; 
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

#enemyhealth{

    position:relative; 
    height: 30px;
     width: 100%

}

#ehp
{
  background-color: yellow; 
  height: 30px
}

#ehpbar
{
        position: absolute;
         background:blue ;
         top: 0;
         right: 0;
         bottom: 0; 
         left: 0
}

#gameresult
{
  position: absolute;
   color: rgba(33, 75, 199, 0.834);
   align-items: center;
   justify-content: center;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   font-size: large;
   display: none;
}
